# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

https://10.X.X.X {
    tls internal
    # Cache all .pk3 for 1 year (no re-download if unchanged)
@pk3 path_regexp pk3 \.pk3$
header @pk3 Cache-Control "public, max-age=31536000, immutable"

# If you already use encode, exclude .pk3 from gzip/zstd
@compressible {
    not path_regexp pk3 \.pk3$
}
encode @compressible zstd gzip

    handle /peer* {
        uri strip_prefix /peer
        reverse_proxy localhost:8080
    }

    handle /lookup* {
        # removed: uri strip_prefix /lookup
        reverse_proxy localhost:8080
    }

    handle {
        reverse_proxy localhost:8081
    }
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
